@charset "utf-8";

/* "Pretendard Variable" */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* font-family: 'SCoreDream'; */
@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");

@import url(./animation.css);
body {
  text-align: center;
  background-image: linear-gradient(
    rgba(225, 225, 225, 0.5),
    (rgba(225, 225, 225, 0.5)),
    url(./배경.jpg)
  );
  background-color: #fffcf1;
  background-blend-mode: multiply;
  color: #232323;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-thumb {
  background-color: #232323;
  border-radius: 2px;
}
html {
  scroll-behavior: auto;
}
.scroll {
  position: absolute;
  z-index: 50;
  bottom: 20px;
}
section {
  height: 100vh;
  min-height: 900px;
  /* min-width: 900px; */
}
::selection {
  background-color: #999999;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* main */
.main {
  position: relative;
}

.main h1 {
  font-size: 85px;
  font-weight: 300;
  position: relative;
  z-index: 555;
  top: 50%;
  transform: translateY(-50%);
  width: 550px;
  height: 300px;
  margin: auto;
}

.main .star {
  width: 42px;
  position: absolute;
  top: 200px;
  z-index: 50;
  left: -20px;
  animation: shine 3s linear infinite;
}
.main .flare {
  width: 69px;
  position: absolute;
  top: 15px;
  z-index: 50;
  right: -20px;
  animation: flare 1s alternate infinite;
}
.main .red {
  position: absolute;
  top: 20px;
}
.main .yellow {
  position: absolute;
  top: 250px;
  transform: translateX(-550px);
}
.main .green {
  position: absolute;
  top: 430px;
  transform: translateX(-100px);
}

/* intro */
.intro {
  width: 804px;
  margin: auto;
  font-size: 24px;
  position: relative;
}
.intro .intro-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
}
.intro .intro-container .intro-box {
  border: 1px #232323 solid;
  margin: auto;
  line-height: 5;
  padding: 50px;
  font-weight: 300;
  position: relative;
  z-index: 100;
}
.intro .intro-container .intro-box strong {
  position: relative;
}
.intro .intro-container .intro-box strong::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #232323;
  position: absolute;
  top: 27px;
  left: 0;
  transition: 0.3s;
}

.intro .intro-container .intro-box strong:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #232323;
}
.intro .intro-container .intro-box img {
  width: 40px;
}
.intro .intro-container .intro-box p {
  position: relative;
  opacity: 0;
}
.intro .intro-container .intro-box .book {
  top: 13px;
  right: 105px;
  animation: book 2s ease-in-out infinite;
}
.intro .intro-container .intro-box .note {
  top: 20px;
  left: 170px;
  animation: note 1.5s ease-in-out infinite;
}
.intro .intro-container .intro-box .plant {
  top: 20px;
  right: 150px;
  animation: plant 3s ease-in-out infinite;
}
.intro .intro-container .intro-box .music_note {
  top: 30px;
  left: 155px;
  animation: music-note 1s ease-in-out infinite;
}
.intro .intro-container h3 {
  font-family: "SCoreDream";
  font-weight: 300;
  position: absolute;
  z-index: 100;
}
.intro .intro-container h3:first-child {
  top: -30px;
}
.intro .intro-container h3:nth-child(3) {
  bottom: -32px;
  right: 0;
}
.intro img {
  position: absolute;
}
.intro .red {
  width: 1300px;
  top: 250px;
  right: -400px;
}
.intro .yellow {
  top: -120px;
  left: -250px;
  width: 800px;
}
.intro .green {
  top: 300px;
  left: -300px;
  width: 650px;
}
.intro .blue {
  top: 0;
  right: -100px;
  width: 550px;
}

/* skill */
.skill {
  padding: 100px 24%;
  position: relative;
}
.skill h2 {
  font-size: 45px;
  margin: 0 auto 100px;
  font-weight: 300;
  position: relative;
  width: 530px;
}
.skill h2 strong {
  border-bottom: #232323 2px solid;
}
.skill h2 img {
  position: absolute;
  width: 30px;
  top: -15px;
  right: 4px;
}
.skill .skill-box {
  width: 100%;
  min-width: 800px;
  height: auto;
  position: relative;
}
.skill .list-box02 {
  opacity: 0;
  top: 0;
  position: absolute;
  transform: translateY(0);
}
.skill .list-box03 {
  opacity: 0;
  top: 13%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
}

.skill .list-box li {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  line-height: 1.7;
}

.skill .list-box li h3 {
  width: 220px;
  height: 200px;
  font-size: 22px;
  display: grid;
  place-items: center;
}
.skill .list-box .skill1 h3 {
  background: url(../images/redcircle.png) no-repeat center;
}
.skill .list-box .skill2 h3 {
  background: url(../images/greencircle.png) no-repeat center;
}
.skill .list-box .skill3 h3 {
  background: url(../images/yellowcircle.png) no-repeat center;
}
.skill .list-box .skill4 h3 {
  background: url(../images/bluecircle.png) no-repeat center;
}
.skill .list-box .skill5 h3 {
  background: url(../images/redcircle.png) no-repeat center;
}
.skill .list-box .skill6 h3 {
  background: url(../images/yellowcircle.png) no-repeat center;
}
.skill .list-box li ul {
  padding-left: 50px;
  line-height: 1.5;
  font-size: 18px;
  font-family: "SCoreDream";
  font-weight: 400;
  position: relative;
}
.skill .list-box01 li:nth-of-type(1) ul::after {
  content: "";
  background-color: #232323;
  width: 657px;
  height: 1px;
  position: absolute;
  top: 167px;
  left: 30px;
}
.skill .list-box02 li:nth-of-type(1) ul::after {
  content: "";
  background-color: #232323;
  width: 657px;
  height: 1px;
  position: absolute;
  top: 175px;
  left: 30px;
}
.skill .list-box li ul li::before {
  content: "•";
  margin-right: 5px;
}

/* project */
.project {
  padding: 100px;
  position: relative;
}
.project h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 0 auto 80px;
  position: relative;
}
.project h2 strong {
  border-bottom: #232323 2px solid;
}
.project h2 img {
  width: 25px;
  position: absolute;
  transform: translateX(-20px);
  top: -10px;
}
.project .project-box {
  position: relative;
  height: 100%;
  margin: auto;
  z-index: 800;
}
.project .project-box h4 {
  position: absolute;
  font-family: "SCoreDream";
  font-size: 34px;
  font-weight: 400;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 15px;
}
.project .swiper-slide {
  position: relative;
  height: 600px;
}
.project .swiper-slide img {
  width: 740px;
  height: 450px;
  object-fit: cover;
  border-radius: 1px;
  border: 1px #232323 solid;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  transition: 0.3s;
  filter: grayscale(1);
}
.project .swiper-slide:hover img {
  filter: inherit;
}
.project .swiper-slide:nth-child(1) h4 {
  background-color: #999999;
  transition: 0.3s;
  border: 1px solid #232323;
  border-radius: 2px;
}
.project .swiper-slide:nth-child(2) h4 {
  background-color: #999999;
  transition: 0.3s;
  border: 1px solid #232323;
  border-radius: 2px;
}
.project .swiper-slide:nth-child(3) h4 {
  background-color: #999999;
  transition: 0.3s;
  border: 1px solid #232323;
  border-radius: 2px;
}
.project .swiper-slide:nth-child(4) h4 {
  background-color: #999999;
  transition: 0.3s;
  border: 1px solid #232323;
  border-radius: 2px;
}
.project .swiper-slide:hover:nth-child(1) h4 {
  background-color: #ffdbaa;
}
.project .swiper-slide:hover:nth-child(2) h4 {
  background-color: #ffb7b7;
}
.project .swiper-slide:hover:nth-child(3) h4 {
  background-color: #96c291;
}
.project .swiper-slide:hover:nth-child(4) h4 {
  background-color: #96b6c5;
}
.project .project-box .tag {
  position: absolute;
  font-family: "SCoreDream";
  font-weight: 400;
  text-align: left;
  top: 530px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 450px;
  opacity: 0;
}
.project .project-box .tag p {
  border: 1px #232323 solid;
  border-radius: 20px;
  padding: 5px 20px;
  transition: 0.3s;
}
.project .project-box .tag p:hover {
  background-color: #232323;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #232323;
  top: 410px;
  width: 100px;
  height: 80px;
  transition: 0.3s;
  padding: 20px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next:hover img,
.swiper-button-prev:hover img {
  filter: contrast(0%);
}
.swiper-button-next {
  right: 350px;
}
.swiper-button-prev {
  left: 350px;
}

/* outro */
.outro {
  position: relative;
}
.outro h2 {
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 100;
}
.outro h2 img {
  width: 75px;
}
.outro .link-box {
  position: absolute;
  bottom: 120px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  min-width: 900px;
}
.outro .link-box .msg-box {
  display: flex;
}
.outro .link-box .rotating-text-wrapper {
  margin: -29px 7px 0;
}
/* 애니메이션 부분 */
.outro .link-box .rotating-text-wrapper p {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.outro .link-box .rotating-text-wrapper p:nth-child(1) {
  animation-name: rotate1;
}
.outro .link-box .rotating-text-wrapper p:nth-child(2) {
  animation-name: rotate2;
}
.outro .link-box .rotating-text-wrapper p:nth-child(3) {
  animation-name: rotate3;
}

.outro .link-box img {
  width: 50px;
  margin: -27px 15px 0;
}
.outro .link-box a::before {
  content: url(../images/317712_code\ repository_github_repository_resource_icon.svg);
  position: absolute;
  left: 0;
  top: -5px;
  transition: 0.3s;
}
.outro .link-box a {
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  padding-left: 35px;
  margin-top: -27px;
  transition: 0.3s;
}
.outro .link-box a:hover {
  color: #999999;
}
.outro .link-box a:hover::before {
  filter: contrast(0%);
}
/* .outro .link-box a::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #232323;
  position: absolute;
  top: 26px;
  left: 0;
  transition: 0.3s;
}
.outro .link-box a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #999999;
} */
.outro .color {
  position: absolute;
}
.outro .red {
  width: 550px;
  top: 60px;
  transform: translateX(-470px);
}
.outro .yellow {
  width: 300px;
  top: 280px;
  transform: translateX(-170px);
}
.outro .blue {
  width: 450px;
  top: 130px;
  transform: translateX(-70px);
}

/* footer */
footer {
  border-top: 1px #232323 solid;
  position: relative;
}
footer p {
  text-align: left;
  padding: 5px 20px;
  font-size: 14px;
}

.up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: #232323 1px solid;
  border-radius: 1px;
  transition: 0.3s;
}
.up-btn:hover {
  border-radius: 50%;
}
